{% extends 'base.html' %}
{% load tags_jinja %}
{% block title %}Задания{% endblock %}

{% block content %}
    {% if arguments.error %}
        <div class="alert alert-danger">
            {{ arguments.error }}
        </div>
    {% endif %}

    {% if arguments.work %}
        <div class="col bg_white">
            <div class="row">
                <div class="col-10">
                    <h2>{{ arguments.work.name }}</h2>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-sm float-right" role="button"
                            data-toggle="modal"
                            data-target="#DelWorkModal">
                        <i class="fa fa-trash fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-sm float-right" role="button"
                            data-toggle="modal"
                            data-target="#EditWorkModal">
                        <i class="fa fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold">ID работы</span>
                </div>
                <div class="col-8">
                    <span class="font-weight-normal">{{ arguments.work.id }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold">Статус</span>
                </div>
                <div class="col-8">
                    <span class="font-weight-normal">{{ arguments.work.status_id }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold">Срок выполнения</span>
                </div>
                <div class="col-8">
                    <span class="font-weight-normal">{{ arguments.work.date_execution }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold">Ответсвенный</span>
                </div>
                <div class="col-8">
                    <span class="font-weight-normal">{{ arguments.work.user_id.get_full_name }}</span>
                </div>
            </div>
            <hr>
        </div>

        <button type="button" class="btn btn-dark btn-sm mb-3 float-right" role="button" data-toggle="modal"
                data-target="#AddModal">
            Добавить задание
        </button>

        <div class="table-responsive">
            <table class="table table-sm table-hover bg-white">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Срок</th>
                    <th scope="col">Исполнитель</th>
                    <th scope="col">Результат</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Изменить</th>
                </tr>
                </thead>
                <tbody>
                {% if arguments.task_list|cheak_count_list > 0 %}
                    {% for task in arguments.task_list %}
                        <tr role="button">
                            <th scope="row" data-toggle="tooltip" data-placement="bottom">{{ task.id }}</th>
                            <td data-toggle="tooltip" data-placement="bottom">{{ task.status_id }}</td>
                            <td data-toggle="tooltip" data-placement="bottom">{{ task.name }}</td>
                            <td data-toggle="tooltip" data-placement="bottom">{{ task.date_execution }}</td>
                            <td data-toggle="tooltip" data-placement="bottom">{{ task.user_id.get_full_name }}</td>
                            <td data-toggle="tooltip" data-placement="bottom">
                                {% if task.result != None %}
                                    {{ task.result }}
                                {% endif %}
                            </td>
                            <td data-toggle="tooltip" data-placement="bottom">{{ task.date_create }}</td>
                            <td data-toggle="tooltip" data-placement="bottom">
                                <button type="button" class="btn btn-sm" role="button"
                                        data-toggle="modal"
                                        data-target="#EditModal_{{ task.id }}">
                                    <i class="fa fa-edit fa-lg"></i>
                                </button>
                                <button type="button" class="btn btn-sm" role="button"
                                        data-toggle="modal"
                                        data-target="#DelModal_{{ task.id }}">
                                    <i class="fa fa-trash fa-lg"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr role="button">
                        <th scope="row" data-toggle="tooltip" data-placement="bottom"
                            title="Нажмите для редактирования" colspan="8" class="center">
                            Работы еще не добавлены!
                        </th>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>


        <!-- Add Modal -->
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddModalLabel">Добавление нового задания</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" action="{% url 'tasklist_url' arguments.work.id %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            {% csrf_token %}
                            {% for field in arguments.form %}
                                <div class="form-group">
                                    {% if field.errors %}
                                        <div class="alert alert-danger">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                    {{ field.label }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-block">Добавить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if arguments.form_work and arguments.work %}
            <div class="modal fade" id="EditWorkModal" tabindex="-1" role="dialog"
                 aria-labelledby="EditWorkModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="EditWorkModalLabel">Редактирвоание работы</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'worklist_update_url' arguments.work.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                {% for field in arguments.form_work %}
                                    <div class="form-group">
                                        {% if field.errors %}
                                            <div class="alert alert-danger">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button formmethod="post" type="submit" class="btn btn-primary">Сохранить изменения
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Del Work Modal -->
            <div class="modal fade" id="DelWorkModal" tabindex="-1" role="dialog"
                 aria-labelledby="DelWorkModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="DelWorkModalLabel">Удаление работы</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'worklist_update_url' arguments.work.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <p>Вы действительно хотите удалить данную работу?</p>
                            </div>
                            <div class="modal-footer">
                                <button formmethod="get" type="submit" class="btn btn-danger">Удалить</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if arguments.task_edit|cheak_count_list > 0 %}
            {% for data in arguments.task_edit %}
                <!-- Edit Modal {{ data.id }} -->
                <div class="modal fade" id="EditModal_{{ data.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="EditModalLabel_{{ data.id }}"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="EditModalLabel_{{ data.id }}">Редактирвоание
                                    задания</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{% url 'tasklist_update_url' arguments.work.id data.id %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    {% for field in data.form %}
                                        <div class="form-group">
                                            {% if field.errors %}
                                                <div class="alert alert-danger">
                                                    {{ field.errors }}
                                                </div>
                                            {% endif %}
                                            {{ field.label }}
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button formmethod="post" type="submit" class="btn btn-primary">Сохранить изменения
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Del Modal {{ data.id }} -->
                <div class="modal fade" id="DelModal_{{ data.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="DelModalLabel_{{ data.id }}"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DelModalLabel_{{ data.id }}">Удаление задания</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{% url 'tasklist_update_url' arguments.work.id data.id %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <p>Вы действительно хотите удалить данное задание?</p>
                                </div>
                                <div class="modal-footer">
                                    <button formmethod="get" type="submit" class="btn btn-danger">Удалить</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}