{% extends 'base.html' %}
{% load tags_jinja %}
{% block title %}Работы{% endblock %}

{% block content %}
    {% if arguments.error %}
        <div class="alert alert-danger">
            {{ arguments.error }}
        </div>
    {% endif %}

    <button type="button" class="btn btn-dark btn-sm mb-3 float-right" role="button" data-toggle="modal"
            data-target="#AddModal">
        Добавить работу
    </button>

    <div class="table-responsive">
        <table class="table table-sm table-hover bg-white">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Статус</th>
                <th scope="col">Наименование</th>
                <th scope="col">Срок</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Послед. измен.</th>
                <th scope="col">Изменить</th>
            </tr>
            </thead>
            <tbody>
            {% if arguments.work_list|cheak_count_list > 0 %}
                {% for work in arguments.work_list %}
                    <tr role="button">
                        <th scope="row" data-toggle="tooltip" data-placement="bottom">{{ work.id }}</th>
                        <td data-toggle="tooltip" data-placement="bottom">{{ work.status_id }}</td>
                        <td data-toggle="tooltip" data-placement="bottom">{{ work.name }}</td>
                        <td data-toggle="tooltip" data-placement="bottom">{{ work.date_execution }}</td>
                        <td data-toggle="tooltip" data-placement="bottom">{{ work.date_create }}</td>
                        <td data-toggle="tooltip" data-placement="bottom">{{ work.date_last_edit }}</td>
                        <td data-toggle="tooltip" data-placement="bottom">
                            <button type="button" class="btn btn-sm" role="button" onclick="window.location.href = '{% url 'tasklist_url' work.id %}'">
                                <i class="fa fa-edit fa-lg"></i>
                            </button>
                            <button type="button" class="btn btn-sm" role="button"
                                    data-toggle="modal"
                                    data-target="#DelModal_{{ work.id }}">
                                <i class="fa fa-trash fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr role="button">
                    <th scope="row" data-toggle="tooltip" data-placement="bottom"
                        title="Нажмите для редактирования" colspan="7" class="center">
                        Работы еще не добавлены!
                    </th>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>


    <!-- Add Modal -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddModalLabel">Добавление новой работы</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'worklist_url' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for field in arguments.form %}
                            <div class="form-group">
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if arguments.work_list|cheak_count_list > 0 %}
        {% for data in arguments.work_list %}
            <!-- Del Modal {{ data.id }} -->
            <div class="modal fade" id="DelModal_{{ data.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="DelModalLabel_{{ data.id }}"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="DelModalLabel_{{ data.id }}">Удаление работы</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'worklist_update_url' data.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <p>Вы действительно хотите удалить данную работу?</p>
                            </div>
                            <div class="modal-footer">
                                <button formmethod="get" type="submit" class="btn btn-danger">Удалить</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}